<h1>Send Invitation</h1>
<div class="row">
  <div class="span6 offset3">
    <%= simple_form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>
      <%= devise_error_messages! %>
      <div class="well">
        <%= f.input :email %>
        <%= f.button :submit, "Send invitation", :class => 'btn primary' %>
        <%= link_to 'Cancel', :back, :class => 'btn' %>
      </div>
    <% end %>
  </div>
</div>