<h1>Send Invitation</h1>
<div class="row">
  <div class="span6 offset3">
    <%= simple_form_for resource, as: resource_name, url: invitation_path(resource_name), html:  { method: :post} do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="well">
        <%= f.hidden_field :manager_id, value: current_user.id %>
        <%= f.input :email, error: false, required: true %>
        <%= f.association :user_type, collection: UserType.all, selected: 1, error: false, required: true %>
        <%= f.button :submit, 'Send invitation', class: 'btn btn-primary' %>
        <%= link_to 'Cancel', :back, class: 'btn' %>
      </div>
    <% end %>
  </div>
</div>